* {box-sizing: border-box; }
[hidden] {display: none !important;}

body {
  --background: #f2f4f6;
  --primary_light: #f582ae;
  --secondary_light: #ffd803;
  --tertiary_light: #00ebc7;
  --primary_dark: #232946;
  --spacing: 14px;

  padding: 2em;
  margin: 0;
  background: var(--background);
  color: var(--primary_dark);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  letter-spacing: 2px;
}

h1, h2, h3 {
  font-weight: lighter;
  font-family: 'Open Sans Condensed', sans-serif;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main {
  height: 100%;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  justify-content: space-around;
}

.album {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay svg {
  background: white;
  fill: currentColor;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.song-title {
  font-size: 14px;
  font-weight: 900;
  margin-top: var(--spacing);
}

.controls {
  width: 300px;
  margin: 30px auto;
}

button {
  display:block;
  color: var(--primary_dark);
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;;
}

button:hover {
  transform: scale(1.2);
  color: var(--primary_light);
}

button svg {
  pointer-events: none;
  fill: currentColor;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

button.active > svg.yes,
button:not(.active) > svg.no {
  display: block;
}

button:not(.active) > svg.yes,
button.active > svg.no {
  display: none;
}
canvas {
  transition: transform 0.2s ease-in-out;
}
.previous canvas:hover, .next canvas:hover {
  transform: scale(1.1);
}
